@font-face {
    font-family: 'Ranchers';
    src: url('Ranchers-Regular.woff2') format('woff2'),
        url('Ranchers-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

